:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 2rem;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--surface-card);
  font-family: var(--font-family);
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: initial
}